.starter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 3vmin;
  /* height: 15vmin; */
}
.starter > * {
  margin-top: 0.5rem;
}

.starter > .input > button {
  margin-left: 0.5em;
}
.colors {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.colors > * {
  margin-right: 0.5em;
}
button#color {
  align-self: flex-end;
}
#grid {
  text-align: center;
}
#message {
  width: 30%;
  margin: auto;
  margin-top: 1em;
}
.hide {
  display: none;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
#root .field-container {
  display: flex;
  flex-wrap: wrap;
  width: 70vmin;
  height: 70vmin;
  border-collapse: collapse;
}
